<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/style/style.css" type="text/css">
<script src="/style/function.js" type="text/javascript"></script>
    #show[inc.head]#
</head>

<body>
<div class="substrate" id="substrate"></div>
<div id="notifyblock"><div id="notify"></div></div>
<div id="loadingblock"><div class="loadingDoc" id="sl"><img src="http://wm-rb.net/img/loader.gif" width="16" height="16" alt="" /><span class="textLoadDoc">Подождите, идет загрузка данных</span></div></div>
<div class="disableBg" id="disableBg"></div>
#show[inc.controller_content]#
</body>
</html>