		Детальное описание параметров:
	<a href="http://wiki.webmoney.ru/wiki/show/Interfeys_X9">http://wiki.webmoney.ru/wiki/show/Interfeys_X9</a>
	<br />

	<form action="" method="post">
	<input type="hidden" name="interface" value="{interface}" />
	<input type="hidden" name="process" value="webmoney.wm_example" />

		<label>WM-идентфиикатор:</label>
		<select name="type_wmid">
		{option}
		
		</select>
		
		<br/>

		<input type="submit" value="получить баланс" />
		<br/>
	</form>
