<a href="{ATM_URL}/support/?id={id}">перейти</a> <a href="#" onClick="ajaxVs({block:'process',act:'info.support',p:'action=close&owner_id={owner_id}'}); return false;">Закрыть тикет</a> <b>{email}</b>
