<div style="FONT-SIZE: 13px; FONT-FAMILY: Arial; COLOR: #676767; LINE-HEIGHT: 21px;">
    Здравствуйте.<br /><br />
	Для ответа и просмотра истории сообщений перейдите на <a href="{url}">страницу</a>.<br />
    -------------------------------------------------<br />
    <b>Код тикета:</b> <a href="{url}">{indeficator}</a><br />
    -------------------------------------------------<br />
	Не отвечайте на это письмо, оно было отправлено роботом.<br />
    <br />
    Мы будем благодарны Вам за любые предложения, высказанные по поводу того,
    какой Вы хотите видеть сервис платежей WM-RB.net.<br /><br />

    Благодарим Вас за использование нашего сервиса.<br />
    {bottom_support}
</div>
